/* Thanh bảng chọn */
#wrapper {
    display: flex;
    width: 100vw;
}

#nav-container {
    display: flex;
    width: inherit;
    background-color: #3572EF;
}

#nav-container img {
    width: 250px;
    height: 80px;
}

.main-menu {
    width: inherit;
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    /* bỏ đi các dấu chấm */
    /* để các phần tử sát phải */
}

.main-menu .btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.main-menu .btn:hover {
    cursor: pointer;
    background-color: #050C9C;
}

.dropdown-container {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 75px;
    right: 60px;
    border: 1px solid #000000;
    z-index: 1000;
    background-color: #3572EF;
}

.dropdown-container a {
    color: white;
    padding: 0px 20px 0px 20px;
    height: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.main-menu .signup {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.signup:hover {
    background-color: #050C9C;
    cursor: pointer;
}

.signup:hover .dropdown-container {
    display: flex;
    /* dàn nội dung theo hàng dọc */
    flex-direction: column;
}

.dropdown-container a:hover {
    background-color: #050C9C;
}

.userin4_container {
    color: white;
    font-weight: bold;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.userin4_container:hover {
    background-color: #050C9C;
    cursor: pointer;
}

.userin4_container .info {
    padding: 0;
    margin: 0;
    width: auto;
}

.userin4_container:hover .dropdown-container {
    display: flex;
    /* dàn nội dung theo hàng dọc */
    flex-direction: column;
}

i {
    margin: 0px 10px 0px 0px;
}

/* footer */
.footer {
    justify-content: center;
    background-color: #3572EF;
}

.footer-items {
    display: flex;
    width: 100%;
}

.contact-us {
    color: white;
    justify-content: center;
    text-align: center;
    width: calc(100%/3);
}

.contact-us i {
    font-size: 25px;
    margin-right: 12px;
    cursor: pointer;
    transition: var(--sub-color);
}

.about-us {
    color: white;
    text-align: center;
    justify-content: center;
    width: calc(100%/3);
}

.address {
    color: white;
    text-align: center;
    width: calc(100%/3);
}

.copy-right {
    color: white;
    text-align: center;
    justify-content: center;
}

.options:hover .dropdown-content {
    display: flex;
    /* dàn nội dung theo hàng dọc */
    flex-direction: column;
}

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    top: auto;
    left: 200px;
    border: 1px solid #000000;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
    width: 250px;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 15px 5px 0px 20px;
    text-decoration: 0;
    height: 50px;
}

.options:hover{
    border-radius: 10px;
    cursor: pointer;
    background-color: #91F0F3;
}